@use '@/styles/variables' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_container{
    display: flex;
    flex-direction: column;
    gap: $gap-md;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    gap: $gap-md;
}


.submit_button{
  justify-content: center;
  align-self: flex-end;
  width: 200px;
  font-size: $font-lg;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: $padding-sm;
  background-color: $clr-blueberryblue;
  color: $clr-white;
  border: none;
  border-radius: $rounded-sm;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover{
    background-color: rgba($clr-blueberryblue,  0.7);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
}

.cancel_button{
  justify-content: center;
  align-self: flex-end;
  width: 200px;
  font-size: $font-lg;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: $padding-sm;
  background-color: $clr-blueberryblue;
  color: $clr-white;
  border: none;
  border-radius: $rounded-sm;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover{
    background-color: rgba($clr-blueberryblue,  0.7);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (max-width: $screen-sm) {
  .container {
    width: 100%;
  }

  .button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap-md;
    margin-left: 10px;
    margin-right: 10px;
  }

  .submit_button, .cancel_button{
    width: 100%;
  }
  
}
